// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

$font-path: "../assets/font";

/** Ionic CSS Variables **/
:root {
  /* Settings Fonts Size And Icon Size
=======================================================
=======================================================*/
  --fallback-color: red;
  --h1-font-size: 20px;
  --h2-font-size: 18px;
  --h3-font-size: 16px;
  --h4-font-size: 15px;
  --h5-font-size: 14px;
  --h6-font-size: 12px;
  --text-font-size: 14px;

  /* Settings Fonts Size Icon
=======================================================
=======================================================*/

  --icon-size-small: 20px;
  --icon--size-medium: 32px;
  --icon-size-large: 60px;

  /* Settings Font Span
=======================================================
=======================================================*/

  --span-size-small: 12px;
  --span-size-medium: 24px;
  --span-size-large: 30px;
}

/* SETTINGS TOOLBAR
=======================================================
=======================================================*/
.header-md:after,
.footer-md:before {
  background-image: none !important;
}

// Grid Fixed

@font-face {
  font-family: "Noto Kufi Arabic";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/font/notokufiarabic-regular-webfont.eot");
  src: url("../assets/font/notokufiarabic-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../assets/font/notokufiarabic-regular-webfont.woff2") format("woff2"),
    url("../assets/font/notokufiarabic-regular-webfont.woff") format("woff"),
    url("../assets/font/notokufiarabic-regular-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Kufi Arabic";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/font/notokufiarabic-bold-webfont.eot");
  src: url("../assets/font/notokufiarabic-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../assets/font/notokufiarabic-bold-webfont.woff2") format("woff2"),
    url("../assets/font/notokufiarabic-bold-webfont.woff") format("woff"),
    url("../assets/font/notokufiarabic-bold-webfont.ttf") format("truetype");
}

* {
  font-family: "Noto Kufi Arabic", sans-serif;
}

body {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

/* INCLUDE FONTS
=======================================================
=======================================================*/
@import "fontello";
@import "rtl";

/* SETTINGS FONT SIZE
=======================================================
=======================================================*/
[text-size-xl] {
  font-size: var(--h1-font-size, 20px) !important;
  color: var(--deco-light, #0f150e);
}

[text-size-lg] {
  font-size: var(--h2-font-size, 18px) !important;
  color: var(--deco-light, #0f150e);
  font-weight: 700;
}

[text-size-md] {
  font-size: var(--h3-font-size, 16px) !important;
  color: var(--deco-light, #0f150e);
}

[text-size-xs] {
  font-size: var(--h4-font-size, 14px) !important;
  color: var(--deco-light, #0f150e);
}

[text-size-sm] {
  font-size: var(--h5-font-size, 15px) !important;
  color: var(--deco-light, #0f150e);
}

[text-size-p] {
  font-size: 9px !important;
  color: var(--deco-light, #0f150e);
  line-height: normal;
}

[text-nowrap] {
  text-overflow: ellipsis;
  overflow: hidden;
}

.swiper-pagination.swiper-pagination-bullets {
  bottom: 0px !important;

  .swiper-pagination-bullet-active {
    --bullet-background: var(--deco-light, #fff) !important;
    background: var(--bullet-background);
  }
}

.swiper-pagination-bullet {
  background: #fff;
}

/* SETTINGS BUTTON
=======================================================
=======================================================*/
[default-button] {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --background: var(--deco-light, #0f150e);
  --color: var(--deco-primary, #ffffff);
  --ripple-color: transparent;
  border-radius: 4px;
  overflow: hidden;
  min-height: 45px;
  text-transform: inherit;
}

/* SETTINGS CATEGORY
=======================================================
=======================================================*/
[category] {
  position: absolute;
  top: 16px;
  z-index: 999;
  left: 16px;
  border-radius: 4px;
  background: var(--deco-danger, #f53d3d);
  padding: 5px;
  font-size: 10px;
  color: var(--deco-category, #fff);
}

/* SETTINGS COLOR BACKGROUND OUR APP
=======================================================
=======================================================*/
ion-content {
  --background: var(--deco-backgroundColor, #ffffff);
}

ion-list {
  padding-top: 0 !important;
}

ion-item {
  --background: var(--deco-backgroundColor, #ffffff);
}

:host-context(.can-go-back > ion-header),
:host(.show-back-button) {
  display: block;
}

ion-toolbar {
  --background: var(--deco-toobarBackground, #fff);
  --color: var(--deco-toobarButton, #434955);

  ion-title {
    --color: var(--deco-light, #0f150e);
    font-size: 16px;
    text-align: center;
    margin-right: -50px;
  }
}

ion-menu-button {
  font-size: 40px;
  color: #434955;
  img {
    color: #434955;
  }
}

/* SETTINGS CHIP
=======================================================
=======================================================*/
ion-chip {
  --background: transparent;
  margin: 0;
  padding-top: 0;
  -webkit-padding-start: 4px;
  padding-inline-start: 4px;
  padding-inline-end: 0px;

  .ripple-effect {
    display: none !important;
  }

  ion-icon {
    color: var(--deco-colorIcon, #cccbda);
  }
  ion-label {
    color: var(--deco-colorIconText, #7f7e96) !important;
  }
}

/* SETTINGS SEGMENT
=======================================================
=======================================================*/
ion-segment-button {
  --background: var(--deco-toobarBackground, #ffffff);
  --background-checked: var(--deco-toobarBackground, #ffffff);
  --background-activated: var(--deco-toobarBackground, #ffffff);
  --color: var(--deco-light, #0f150e);
  --color-checked: var(--deco-light, #0f150e);
}

/* SETTINGS COLOR AND SIZE ICON
=======================================================
=======================================================*/
[icon-small] {
  color: var(--deco-colorIcon, #6b6983);
  font-size: var(--icon-size-small, 20px);
}

/* Image
=======================================================
=======================================================*/

img {
  object-fit: cover;
}

/* Settings bookmark
=======================================================
=======================================================*/
[bookMark] {
  ion-icon {
    &.active {
      color: var(--deco-danger, #f53d3d) !important;
    }
  }
}

/* Default Overview Ionic Section
=======================================================
=======================================================*/
[background-size] {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

[border-radius] {
  border-radius: 4px;
}

[font-bold] {
  font-weight: bold !important;
}

[no-box-shadow] {
  box-shadow: none !important;
}

[box-shadow] {
  box-shadow: 0 0 6px rgba(63, 159, 175, 0.7) !important;
  z-index: 999;
}

[transparent] {
  --background: transparent;
}

[clearfix] {
  display: block;
  clear: both;
}

.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
  white-space: inherit;
}
.sc-ion-label-md-s h3,
.sc-ion-label-md-s h4,
.sc-ion-label-md-s h5,
.sc-ion-label-md-s h6 {
  color: black;
}

ion-card-content.ion-no-padding.md.card-content-md.hydrated {
  color: black;
}

.sc-ion-buttons-md-s ion-icon[slot="icon-only"] {
  font-size: 2em;
  margin: 10px;
}

ion-header {
  ion-title {
    color: #000;
  }
  ion-toolbar {
    ion-img {
      width: 80px;
      display: block;
      margin: 0 auto;
    }
  }
}
ion-tab-bar {
  background-color: #3f9faf;

  --background-focused: #3f9faf;
  --color: var(--ion-tab-bar-color, var(--ion-color-step-600, #434955));
  --color-selected: var(--ion-tab-bar-color-activated, var(--ion-color-primary, #fff));
}
ion-tab-button {
  background-color: #3f9faf;
  ion-icon {
    font-size: 25px;
  }
}

.social-col {
  background-color: #71b9c5;
  text-align: center;
}

.social-icon {
  font-size: 25px;
}
.facebook {
  background-color: #3b5999;
  margin-right: 0px;
}

.instagram {
  background-color: #e4405f;
}

.whatsapp {
  background-color: #25d366;
}

.youtube {
  background-color: #cd201f;
}
.twitter {
  background-color: #55acee;
}
.card-content-md p,
.card-content-ios p {
  font-size: inherit !important;
  -webkit-touch-callout: text !important;
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

.font-13 {
  font-size: 13px;
}

.weather {
  padding-left: 48px;
  margin-top: -25px;
  ion-label {
    font-size: 14px;
    padding-left: 3px;
    padding-right: 3px;
  }
  i.wi {
    font-size: 14px;
  }
  .currentDate {
    position: absolute;
    bottom: -12px;
    font-size: 11px;
    width: 200px;
    left: 0;
    padding-left: 10px;
  }
  .currentDate2 {
    position: absolute;
    bottom: -25px;
    font-size: 11px;
    width: 200px;
    left: 0;
    padding-left: 10px;
  }
}

.wp-video {
  width: 100% !important;
  video {
    width: 100% !important;
    height: auto !important;
  }
}
