<!-- Header -->
<ion-header box-shadow mode="md">
  <ion-toolbar>
      <ion-buttons slot="end" (click)="onClickSearch()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-buttons>
      <ion-title>الأقسام</ion-title>
    <ion-buttons slot="start" mode="md">
      <ion-menu-button mode="md" defaultHref="/"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
</ion-header>
<!-- Content -->
<ion-content>
  <ion-searchbar mode="md" *ngIf="isShowSearchBar" [(ngModel)]="searchTerm" (ionChange)="setFilteredCategories()" placeholder="بحث"></ion-searchbar> 
  <!-- <ion-searchbar placeholder="بحث"></ion-searchbar>  -->
  <ion-grid no-padding>
    <ion-row>
      <!--- Category List -->
      <ion-col size="6" size-md="6" *ngFor="let item of filteredNews" (click)="openCategory(item)">
        <ion-card box-shadow text-center padding>
            <h2 text-size-md text-capitalize>{{item.name}}</h2>
            <h3 text-size-xs margin-top text-capitalize> عدد الأخبار: {{item.count}}</h3>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="جاري التحميل ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
