:host-context(single-page) {
  [background-size] {
    height: 250px;
  }

  ion-card {
    --background: var(--deco-backgroundColor, #fafafa);
    margin-top: -20px;

    [category] {
      top: 10px;
      left: 0;
    }

    ion-card-content {
      div {
        p {
          font-size: inherit !important;
          -webkit-touch-callout: text !important;
          -webkit-user-select: text !important;
          -khtml-user-select: text !important;
          -moz-user-select: text !important;
          -ms-user-select: text !important;
          user-select: text !important;
        }
      }
    }
  }
  #plus {
    display: none !important;
  }
  img[src$="png"] {
    display: none !important;
  }
  #minus {
    display: none !important;
  }

  a {
    color: red;
  }

  i {
    font-style: italic;
    color: var(--deco-light, #1b1e28);
  }

  b {
    font-style: bold !important;
    color: var(--deco-light, #1b1e28);
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--deco-light, #1b1e28) !important;
  }

  p {
    color: var(--deco-light, #1b1e28) !important;
    line-height: 16px !important;
    margin: 10px 0 !important;
  }
}
