/* Sytle Main Menu
==================================*/
:host-context(app-root) {
  --meni-background: #3f9faf;
  --menu-color: #fff;

  ion-content {
    --background: var(--meni-background, #fff);
    ion-col {
      .logo {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  ion-grid,
  ion-row {
    height: 100%;
  }

  /* SETTINGS MAIN MENU
  =======================================================
  =======================================================*/
  ion-menu-toggle {
    [icon-small] {
      margin-left: 10px;
    }
  }

  [button-link] {
    margin-right: 5px;
    padding: 10px 10px 0px 10px;
    color: #fff;
  }

  ion-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ion-item {
    --background: var(--meni-background, #fff);

    [icon-small],
    [text-size-xs] {
      color: var(--menu-color, #182216);
    }
  }
}
